.btn {
  width: 11%;
  height: 10%;
  margin: 0 1.2% 1.2% 0;
  line-height: 150%;
  font-weight: bold;
  font-size: 180%;
}

#chat-panel{
    height: 152px;
    overflow-y: scroll;
}

@media only screen and (min-width: 1000px) {
  #handle-panel{
    float: right;
  }

  #calculator-wrapper{
    margin-top: 30px;
    margin-bottom: 70px;
  }
  
}
