<!DOCTYPE html>
<html>
  <head>
    <title>Chat Calculator</title>
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "bootstrap.css" %}'/>
    <link rel="stylesheet" href='{% static "application.css" %}'/>

    <script src='{% static "jquery-1.12.1.min.js" %}'></script>
    <script src='{% static "application.js" %}'></script>
    <script src='{% static "reconnecting-websocket.min.js" %}'></script>
  </head>
  <body>

    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Simple Chat Calculator</a>
        </div>
      </div>
    </div>


    <div class="container">

      <div class="jumbotron well" id="calculator-wrapper">
        <div class="row">
          <div class="col-md-5">
            <input id="calculator-screen"
                   class="form-control" 
                   readonly
                   disabled>
          </div>
          <div class="col-md-2" style="text-align: center;">
            =
          </div>
          <div class="col-md-5">
            <input id="calculator-result" 
                   class="form-control" 
                   readonly 
                   disabled>
          </div>
        </div>
      </div>

      <div class="row container">

        <div class="col-md-5 well">
          <div id="calc-board" class="text-center">
            <div class="row">
              <span class="btn btn-default">7</span>
              <span class="btn btn-default">8</span>
              <span class="btn btn-default">9</span>
              <span class="btn btn-default">(</span>
              <span class="btn btn-default">)</span>
            </div>
            <div class="row">
              <span class="btn btn-default">4</span>
              <span class="btn btn-default">5</span>
              <span class="btn btn-default">6</span>
              <span class="btn btn-default">-</span>
              <span class="btn btn-default">+</span>
            </div>
            <div class="row">
              <span class="btn btn-default">1</span>
              <span class="btn btn-default">2</span>
              <span class="btn btn-default">3</span>
              <span class="btn btn-default">/</span>
              <span class="btn btn-default">*</span>
            </div>
            <div class="row">
              <span class="btn btn-default">.</span>
              <span class="btn btn-default">0</span>
              <span class="btn btn-default">%</span>
              <span class="btn btn-primary" 
                    id="equals">=</span>
              <span class="btn btn-danger"
                    id="clear">C</span>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 well">
          <div class="row">
            <div class="col-md-3">
              <b>Chat Log</b>
            </div>
            <div class="col-md-5 col-xs-5" id="handle-panel">
                <input id="handle"
                       type="text" 
                       class="form-control" 
                       placeholder="Enter Name" 
                       aria-describedby="basic-addon1" 
                       name="handle">
            </div>
          </div>
          <hr>
          <div id="chat-panel" class="table-responsive">
            <table class="table table-striped">
              <thead>
                <th>Timestamp</th>
                <th>Sender</th>
                <th>Expression</th>
              </thead>
              <tbody id="chat">
              {% for message in messages %}
                <tr>
                  <td>{{ message.formatted_timestamp }}</td>
                  <td>{{ message.handle }}</td>
                  <td>{{ message.message }}</td>
                </tr> 
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
